.content_subtitulo{
    color:black;
    h2 {
        text-align: center;
        font-size: $size; 
    }
    p{
            font-size: $size;
            text-align: center;
            margin: 20px;
        }  
    div{ 
        
        text-align: center;
        margin: 10px;

        }
}

h4{color:$color;
} 